#acf-group_repeater_builder_settings {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;

  .acf-row-handle {
    .acf-icon {
      display: flex !important;
      width: 20px;
      height: 20px;
      align-items: center;
      justify-content: center;
      margin: -10px 0 0 -2px;
      transition: all .3s ease-in-out;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }

      &.-plus {
        background-color: #007cba !important;
        color: white !important;
        border: 1px solid #007cba !important;
      }

      &.-duplicate {
        background-color: yellowgreen !important;
        color: white !important;
        border: 1px solid yellowgreen !important;
        top: 23px;
      }

      &.-minus {
        background-color: red !important;
        color: white !important;
        border: 1px solid red !important;
        top: 46px !important;
      }
    }
  }

  .acf-table > tbody > tr > td:not(.ui-sortable-handle) {
    border-bottom-width: 10px !important;
    border-color: #f4f4f4 !important;

    .acf-table > tbody > tr > td:not(.ui-sortable-handle) {
      border-bottom-width: 1px !important;
      border-color: #ccd0d4 !important;
    }

  }

  .acf-field-repeater-builder-toggle, .acf-field-repeater-builder-custom-settings-toggle {
    border-bottom: #ccd0d4 solid 1px !important;
  }

  .acf-row {
    &:first-child {
      .acf-field-builder-section-type {
        border-bottom: #ccd0d4 solid 1px;
        width: 100% !important;
      }
    }
  }

  .acf-field {
    padding: 20px 15px !important;

    &.acf-field-builder-section-type {

      .acf-input {
        max-width: 300px;
      }

    }
  }

  .acf-tab-wrap {
    .acf-tab-group {
      padding: 0 !important;
      position: relative;
      border-top: none !important;
      border-bottom: #ccd0d4 solid 1px;

      li {
        margin: 10px 5px 0 5px;

        &:first-child {
          margin-left: 10px;
        }
      }
    }
  }

  .acf-label {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    position: relative;

    label {
      position: relative;
      display: flex;
      align-items: center;

      &:hover {
        &:after {
          opacity: 1 !important;
        }
      }

      &:after {
        content: '?';
        width: 15px;
        height: 15px;
        display: flex;
        background-color: #f1f1f1;
        border-radius: 100%;
        color: #000000;
        line-height: 1 !important;
        font-size: 12px;
        transition: all .1s ease-in-out;
        border: 1px solid rgba(152, 152, 152, 0.15);
        font-weight: 800;
        position: absolute;
        right: -20px;
        opacity: 0.7 !important;
        top: -8px;
        align-items: center;
        justify-content: center;
      }
    }
  }

}

.interface-interface-skeleton__content {
  .postbox-container {
    background-color: #f6f6f6 !important;
  }
}

.acf-tooltip {
  a[data-event="cancel"] {
    display: inline-flex;
    color: #00a6ea;

    &:before {
      content: '|';
      margin-right: 5px;
      margin-left: 2px;
      color: white;
    }
  }
}
