$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 1025px;
$xl: 1201px;
$xxl: 1441px;
$xxxl: 1601px;

.neo-landing-wrapper {
  color: var(--field-builder-default-text-color) !important;
  font-size: var(--field-text-font-size) !important;
  line-height: var(--field-text-font-line-height) !important;
  font-weight: var(--field-text-font-weight) !important;
  font-family: var(--field-content-font) !important;
  @media(max-width: $lg) {
    font-size: var(--field-text-font-size-lg) !important;
  }
  @media(max-width: $sm) {
    font-size: var(--field-text-font-size-sm) !important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--field-builder-default-headings-color) !important;
    font-weight: var(--field-heading-font-weight) !important;
    line-height: var(--field-heading-font-line-height) !important;
    margin: 0;
    font-family: var(--field-heading-font) !important;
  }

  h1 {
    font-size: var(--field-h1-size) !important;
    letter-spacing: -1.5px !important;
    @media(max-width: $lg) {
      font-size: var(--field-h1-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h1-size-sm) !important;
    }
  }

  h2 {
    font-size: var(--field-h2-size) !important;
    letter-spacing: -1.2px !important;
    @media(max-width: $lg) {
      font-size: var(--field-h2-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h2-size-sm) !important;
    }
  }

  h3 {
    letter-spacing: -1px !important;
    font-size: var(--field-h3-size) !important;
    @media(max-width: $lg) {
      font-size: var(--field-h3-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h3-size-sm) !important;
    }
  }

  h4 {
    font-size: var(--field-h4-size) !important;
    letter-spacing: -0.7px !important;
    @media(max-width: $lg) {
      font-size: var(--field-h4-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h4-size-sm) !important;
    }
  }

  h5 {
    font-size: var(--field-h5-size) !important;
    letter-spacing: -0.5px !important;
    @media(max-width: $lg) {
      font-size: var(--field-h5-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h5-size-sm) !important;
    }
  }

  h6 {
    font-size: var(--field-h6-size) !important;
    letter-spacing: 0 !important;
    @media(max-width: $lg) {
      font-size: var(--field-h6-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h6-size-sm) !important;
    }
  }

  ul, ol {
    li {
      p {

      }
    }
  }

  .inner-wrapper {
    display: flex;
    flex-direction: column;
  }

  .neo-button {
    height: 45px;
    font-size: 13px !important;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    font-weight: 500 !important;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    color: var(--field-builder-default-button-color) !important;
    align-items: center;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    border: none !important;
    background-color: var(--field-builder-default-button-bg-color) !important;

    &:hover {
      opacity: 0.8;
    }
  }

  .neo-container {
    max-width: var(--field-container-width);
    padding-left: var(--field-container-offset);
    padding-right: var(--field-container-offset);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 10;
  }

  .neo-section {
    padding: var(--field-sections-offset) 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .section-title {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 50px;
    }

    &.hero-section {
      position: relative;
      height: 100vh;
      display: flex;
      align-items: center;

      .inner-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;

        .left-side, .right-side {
          width: 50%;
          min-width: 50%;
          max-width: 50%;
        }

        .left-side {

          .sub-headline {

          }

          .hero-main-heading {
            margin-bottom: 20px;
          }

          .propositions-list {
            li {
              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
        }

        .right-side {
          display: flex;
          justify-content: flex-end;

          .info-box-wrapper {
            max-width: 500px;
            background-color: #ffffff;
            width: 100%;
            padding: 50px;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.075);

            .info-box-title {
              margin-bottom: 10px !important;
            }
          }
        }
      }
    }

    &.buy-now-get-more-info-section {

      .inner-wrapper {
        display: flex;
        flex-direction: column;

        .boxes-list {
          display: flex;
          flex-wrap: wrap;
          margin: -15px;

          .box {
            padding: 15px;
            width: 33.3333333%;

            .box-inner {
              padding: 30px;
              background-color: #ffffff;
              box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

              .box-title {
                margin-bottom: 15px !important;
              }

              .box-content {
                margin-bottom: 25px !important;
                font-size: 16px !important;
              }

              .button-wrapper {
                display: flex;

                .neo-button {

                }
              }
            }
          }
        }
      }

    }

    &.gallery-section {

      .gallery-wrapper {
        display: flex;
        margin: -15px;
        flex-wrap: wrap;

        .gallery-item {
          width: 33.33333%;
          max-width: 33.33333%;
          min-width: 33.33333%;
          padding: 15px !important;

          .inner-item {
            position: relative;
            width: 100%;
            padding-bottom: 100%;

            .image-wrapper {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }

    }

    &.faqs-section {

    }

    &.rich-text-row-section {

    }
  }

}


