#acf-group_repeater_builder_settings {
  max-width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;

  .acf-field {
    padding: 20px 15px !important;
  }

  .acf-label {
    display: flex!important;
    flex-direction: column!important;
    align-items: flex-start!important;
    position: relative;

    label {
      position: relative;
      display: flex;
      align-items: center;

      &:after {
        content: '?';
        width: 15px;
        height: 15px;
        display: flex;
        background-color: #f1f1f1;
        border-radius: 100%;
        color: #000000;
        line-height: 1 !important;
        font-size: 11px;
        transition: all .1s ease-in-out;
        border: 1px solid rgba(152, 152, 152, 0.15);
        font-weight: 700;
        position: absolute;
        right: -23px;
        top: -8px;
        align-items: center;
        justify-content: center;
      }
    }
  }

}

.interface-interface-skeleton__content {
  .postbox-container {
    background-color: #f6f6f6 !important;
  }
}
