$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 1025px;
$xl: 1201px;
$xxl: 1441px;
$xxxl: 1601px;

.neo-landing-wrapper {
  overflow: hidden;
  position: relative;
  color: var(--field-builder-default-text-color);
  font-size: var(--field-text-font-size) !important;
  line-height: var(--field-text-font-line-height) !important;
  font-weight: var(--field-text-font-weight) !important;
  font-family: var(--field-content-font) !important;
  @media(max-width: $lg) {
    font-size: var(--field-text-font-size-lg) !important;
  }
  @media(max-width: $sm) {
    font-size: var(--field-text-font-size-sm) !important;
  }

  * {
    position: relative;
    z-index: 10;
  }

  p {
    margin: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--field-builder-default-headings-color);
    font-weight: var(--field-heading-font-weight) !important;
    line-height: var(--field-heading-font-line-height) !important;
    margin: 0;
    font-family: var(--field-heading-font) !important;
  }

  h1 {
    font-size: var(--field-h1-size) !important;
    letter-spacing: -1.5px !important;
    @media(max-width: $lg) {
      font-size: var(--field-h1-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h1-size-sm) !important;
    }
  }

  h2 {
    font-size: var(--field-h2-size) !important;
    letter-spacing: -1.2px !important;
    @media(max-width: $lg) {
      font-size: var(--field-h2-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h2-size-sm) !important;
    }
  }

  h3 {
    letter-spacing: -1px !important;
    font-size: var(--field-h3-size) !important;
    @media(max-width: $lg) {
      font-size: var(--field-h3-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h3-size-sm) !important;
    }
  }

  h4 {
    font-size: var(--field-h4-size) !important;
    letter-spacing: -0.7px !important;
    @media(max-width: $lg) {
      font-size: var(--field-h4-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h4-size-sm) !important;
    }
  }

  h5 {
    font-size: var(--field-h5-size) !important;
    letter-spacing: -0.5px !important;
    @media(max-width: $lg) {
      font-size: var(--field-h5-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h5-size-sm) !important;
    }
  }

  h6 {
    font-size: var(--field-h6-size) !important;
    letter-spacing: 0 !important;
    @media(max-width: $lg) {
      font-size: var(--field-h6-size-lg) !important;
    }
    @media(max-width: $sm) {
      font-size: var(--field-h6-size-sm) !important;
    }
  }

  ul, ol {
    li {
      p {

      }
    }
  }

  .inner-wrapper {
    display: flex;
    flex-direction: column;
  }

  .neo-button, .submit-button {
    height: 45px;
    font-size: 13px !important;
    text-transform: uppercase;
    letter-spacing: 1px !important;
    font-weight: 500 !important;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    color: var(--field-builder-default-button-color) !important;
    align-items: center;
    border-radius: 5px;
    transition: all .2s ease-in-out;
    border: none !important;
    background-color: var(--field-builder-default-button-bg-color) !important;

    &:hover {
      opacity: 0.8;
    }
  }

  .neo-container {
    max-width: var(--field-container-width);
    padding-left: var(--field-container-offset);
    padding-right: var(--field-container-offset);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    position: relative;
    z-index: 10;
  }

  .neo-section {
    padding: var(--field-sections-offset) 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    @media(max-width: $lg) {
      padding: 50px 0;
    }
    @media(max-width: $sm) {
      padding: 40px 0;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      z-index: 1;
      background-color: #000;
      pointer-events: none;
    }

    .section-title {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      position: relative;
      z-index: 10;
      margin-bottom: 15px;
    }

    .section-subtitle {
      text-align: center;
      display: flex;
      justify-content: center;
    }

    &.hero-section {
      position: relative;
      height: 100vh;
      display: flex;
      align-items: center;
      @media(max-width: $md) {
        height: auto;
        padding: 75px 0;
      }

      .hero-logotype {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);

        img {
          max-width: 150px;
          width: 100%;
          height: auto;
        }
      }

      &.text-shadows {
        .sub-headline, .secondary-headline, .hero-main-heading, li {
          text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        }
      }

      .inner-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        @media(max-width: $lg) {
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        .left-side, .right-side {
          width: 50%;
          min-width: 50%;
          max-width: 50%;

          @media(max-width: $lg) {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
          }
        }

        .left-side {
          @media(max-width: $lg) {
            margin-bottom: 50px;
          }
          @media(max-width: $md) {
            margin-bottom: 30px;
          }

          .sub-headline {
            margin-bottom: 20px;
            @media(max-width: $lg) {
              text-align: center;
            }
          }

          .secondary-headline {
            @media(max-width: $lg) {
              text-align: center;
            }
          }

          .hero-main-heading {
            margin-bottom: 20px;
            @media(max-width: $lg) {
              text-align: center;
            }
          }

          .propositions-list {
            width: 100%;
            @media(max-width: $lg) {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              margin-left: 0 !important;
            }

            li {
              @media(max-width: $lg) {
                text-align: center;
              }

              &:not(:last-child) {
                margin-bottom: 10px;
              }
            }
          }
        }

        .right-side {
          display: flex;
          justify-content: flex-end;
          @media(max-width: $lg) {
            justify-content: center;
          }

          .info-box-wrapper {
            max-width: 500px;
            background-color: #ffffff;
            width: 100%;
            padding: 50px;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.075);
            @media(max-width: $lg) {
              margin-left: auto;
              margin-right: auto;
            }
            @media(max-width: $md) {
              padding: 25px;
            }

            .form-wrapper {

              .hero-contact-form {
                display: flex;
                flex-direction: column;
                margin-top: 20px !important;
                align-items: flex-start;
                margin-bottom: 0 !important;

                input {
                  margin-bottom: 20px !important;
                  height: 50px !important;
                  padding: 10px 25px !important;
                  border-radius: 5px;
                  font-size: 14px !important;
                  border: 1px solid rgba(152, 152, 152, 0.3) !important;
                  background-color: transparent !important;
                  width: 100% !important;
                  color: #666 !important;

                  &:focus {
                    outline: none !important;
                    color: #666 !important;
                    border: 1px solid var(--field-builder-default-button-bg-color) !important;
                  }
                }

                #submit-ajax {
                  display: none;
                  font-size: 14px;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid rgba(152, 152, 152, 0.2);
                  width: 100%;
                  border-radius: 3px;
                  background-color: rgba(0, 0, 0, 0.05);
                  margin-top: 20px;
                  color: #565656;
                }
              }

            }

            .info-box-title {
              margin-bottom: 10px !important;
            }
          }
        }
      }
    }

    &.buy-now-get-more-info-section {

      .inner-wrapper {
        display: flex;
        flex-direction: column;

        .boxes-list {
          display: flex;
          flex-wrap: wrap;
          margin: -15px;
          margin-top: 50px;

          .box {
            padding: 15px;
            width: 33.3333333%;
            @media(max-width: $lg) {
              width: 100%;
            }

            .box-inner {
              background-color: #ffffff;
              box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

              .box-header {
                width: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                height: 275px;
              }

              .box-body {
                padding: 30px;

                .box-title {
                  margin-bottom: 15px !important;
                }

                .box-content {
                  margin-bottom: 25px !important;
                  font-size: 16px !important;
                }

                .button-wrapper {
                  display: flex;

                  .neo-button {

                  }
                }
              }
            }
          }
        }
      }

    }

    &.gallery-section {

      .gallery-wrapper {
        display: flex;
        margin: -15px;
        flex-wrap: wrap;
        margin-top: 50px;

        .gallery-item:last-child {
          margin-bottom: 0 !important;
        }

        .gallery-item {
          width: 33.33333%;
          max-width: 33.33333%;
          min-width: 33.33333%;
          padding: 15px !important;
          @media(max-width: $lg) {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
          }

          .inner-item {
            position: relative;
            width: 100%;
            padding-bottom: 100%;

            .image-wrapper {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
        }
      }

    }

    &.faqs-section {
      .faqs-accordion {
        list-style: none;
        padding: 0;
        margin: 0 !important;
        max-width: 900px;
        width: 100%;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 50px !important;
        @media(max-width: $lg) {
          margin-top: 30px;
        }

        .inner {
          overflow: hidden;
          display: none;

          &.show {

          }
        }

        .inner-faq-item {
          &:not(:last-child) {
            margin-bottom: 7px !important;
          }
        }

        .faq-item {
          width: 100%;

          .category-name {
            background-color: #ffffff !important;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.075);
            padding: 20px 25px;
            display: flex;
            width: 100%;
          }

          &:not(:last-child) {
            margin-bottom: 25px !important;
          }
        }

        li {
          position: relative;

          a {
            position: unset !important;
          }

          .answer {
            font-size: 16px;
            margin-top: 15px;
          }

          .category-toggle {
            &:after {
              content: '\f106';
              font-family: "Font Awesome 5 Free";
              display: flex;
              position: absolute;
              right: 25px;
              line-height: 1;
              top: 0;
              height: 66px;
              font-size: 16px;
              color: #000;
              align-items: center;
              transition: all .3s ease-in-out;
              opacity: 0.8;
              font-weight: 900;
              z-index: 10;
              transform: rotate(180deg);
            }

            &.active {
              &:after {
                transform: rotate(0deg);
              }
            }
          }

          .toggle {
          }

          .inner {
            h6 {
              font-weight: 400 !important;
              font-size: 18px !important;
            }

            li {
              position: relative;
              display: flex;
              flex-direction: column;

              .toggle {
                position: relative;
                width: 100%;

                &:after {
                  content: '+';
                  display: flex;
                  position: absolute;
                  right: 27px;
                  line-height: 1;
                  top: 0;
                  height: 26px;
                  align-items: center;
                  font-size: 20px;
                  color: #000000;
                  opacity: 0.8;
                }

                &.active {
                  &:after {
                    content: '-';
                  }
                }
              }

              &:first-child {
                margin-top: 25px !important;
              }

              &:not(:last-child) {
                margin-bottom: 20px !important;
              }
            }
          }

          a.toggle {
            width: 100%;

            &:hover {

            }
          }

        }
      }

    }

    &.rich-text-row-section {
      .inner-wrapper {
        align-items: center;
        flex-direction: column;
      }

      blockquote {
        margin: 15px 0 !important;
      }

      .rich-columns {
        display: flex;
        flex-wrap: nowrap;
        margin: -15px;
        margin-bottom: 30px !important;
        @media(max-width: $lg) {
          max-width: 100% !important;
        }

        .column {
          padding: 15px;
          width: 100%;
          @media(max-width: $lg) {
            max-width: 100% !important;
          }

          ul, ol {
            margin: 20px 0 20px 20px !important;;
          }
        }
      }
    }
  }
}

.neo-footer {
  background-color: #232323;
  padding: 75px 0;
  @media(max-width: $lg) {
    padding: 50px 0;
  }
  @media(max-width: $sm) {
    padding: 30px 0;
  }

  .neo-container {
    display: flex;
    flex-wrap: wrap !important;

    .social-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 !important;
      margin-bottom: 40px !important;
      margin-left: -10px !important;
      @media(max-width: $lg) {
        margin-bottom: 30px;
      }

      li {
        list-style: none;

        a {
          transition: all .2s ease-in-out;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 20px;
            color: #ffffff;
          }

          &:hover {
            opacity: 0.8;
          }
        }

        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    .terms {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      font-size: 14px;

      a {
        color: cornflowerblue !important;
        text-decoration: underline!important;
      }

      @media(max-width: $lg) {
        justify-content: center;
        align-items: center;
      }
    }

    .left-side {
      width: 60%;
      min-width: 60%;
      max-width: 60%;
      padding-right: 15px;
      @media(max-width: $lg) {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        padding-right: 0;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .right-side {
      width: 40%;
      min-width: 40%;
      max-width: 40%;
      padding-left: 15px;
      display: flex;
      justify-content: flex-end;
      @media(max-width: $lg) {
        width: 100%;
        min-width: 100%;
        order: 1;
        max-width: 100%;
        padding-left: 0;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .logotype-wrapper {
        max-width: 150px;
        max-height: 100px;
        @media(max-width: $lg) {
          order: 1;
          margin-left: 0;
          margin-bottom: 30px;
          max-width: 120px;
        }

        img {
          width: 100%;
          height: auto;
          max-height: 100%;
        }

        margin-left: 60px;
      }

      .contact-info {
        display: flex;
        flex-direction: column;
        @media(max-width: $lg) {
          order: 2;
          margin-bottom: 30px;
        }

        .contact-title {
          font-size: 13px;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: 600;
          color: #ffffff;
          margin-bottom: 20px;
        }

        .contact-item {
          display: flex;
          flex-direction: column;

          .contact-item-name {
            color: #ffffff;
            opacity: 0.8;
            font-weight: 500;
            font-size: 14px;
          }

          .contact-item-value {
            color: #ffffff;
            opacity: 0.8;
            font-weight: 500;
            font-size: 14px;
          }

          &:not(:last-child) {
            margin-bottom: 15px;
          }
        }
      }
    }

    .left-side, .right-side {

    }
  }
}
